<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail Verification</title>
   <link rel="stylesheet" href="/css/checkMail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="account-activation-message"> Check Your Mail to Activate the Account</div>
		<div class="tick-image"><img src="https://cdn.dribbble.com/users/4874/screenshots/1776423/inboxiconanimation_30.gif"></div>
		<div class="login-page-link"><a href="https://mail.google.com/mail">Visit Your Mail</a></div>
	</body>
</html>