<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash board</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li class="list">
                <a th:href="@{/profile}">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="list active">
                <a href="#">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Dash Board</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{/viewfeed}">
                    <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                    <span class="title">Feedback</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{/userlogin}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <header><h1>Dash Board</h1><br><hr></header>
        <div class="box-container">
            <a href="">
            <div class="box">
                <h3 class="box-name">Total</h3>
                <div class="count">0</div>
            </div></a>
            <a href=""><div class="box">
                <h3 class="box-name">On progress</h3>
                <div class="count">0</div>
            </div></a> 
            <a href="">
            <div class="box">
                <h3 class="box-name">Completed</h3>
                <div class="count">0</div>
            </div></a>
            <a href="">
            <div class="box">
                <h3 class="box-name">Pending</h3>
                <div class="count">0</div>
            </div></a>
        </div>
    </div>
    <div class="issue-btn">
	    
            <div class="btn">
					
			 <a th:href="@{/issueadd}"><span >Issue</span></a>
                <span class="icon"><ion-icon name="chevron-up-circle-outline"></ion-icon></span>
            </div>
        
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    //add active class in selected list item
    let list=document.querySelectorAll('.list');
    for(let i=0;i<list.length;i++){
        list[i].onclick=function(){
            let j=0;
            while(j<list.length){
                list[j].className='list';
                j++;
            }
            list[i].className='active';
        }
    }
</script>
</html>